label {
  display: block;
  margin-bottom: 10px;
}

input {
  padding: 5px;
  font-size: 16px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

p {
  margin-top: 10px;
  font-size: 16px;
}
